[Unit]
Description=X11vnc desktop sharing

[Service]
ExecStart=/usr/bin/x11vnc {{ x11vnc_options|join(' ') }}
Restart=on-abnormal

[Install]
WantedBy=delay.target
